html{
	scroll-behavior:smooth;
	
}
.menu{
	list-style-type:none;
	display:block;
	width:80%;
	margin:auto;
	font-size:1.5vw;
	font-family:"Georgia";	
	position: sticky;
	background-color: #8a9299;
	padding:15px;

}
.menu li{
	padding: 25px;
	display:inline;
}
.menu a{
	text-decoration : none;
	color:#f7d6b5;
}
body{
	background-color:#5d697c;
		
}
#bouton{
	position: fixed;
	width: 35px;
	height: 25px;
	bottom: 50px;
	right: 30px;
	display:block;
}
.titre{
	color:#f7d6b5;
	display:block;
	text-decoration : underline;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
	
}
#acceuil{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px
}
#propos{
	color:#f7d6b5;
	margin-top:1000px;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;

}
#competence{
	color:#f7d6b5;
	margin-top:1000px;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#experience{
	color:#f7d6b5;
	margin-top:1000px;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#formation{
	color:#f7d6b5;
	margin-top:1000px;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#contact{
	color:#f7d6b5;
	margin-top:1000px;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}

