.top{
	background :#f2f2f2;
	
}
.Titre{
	background:#eae9e6;
	
}
.Case{
	background:#f9f8f5
	
}

table{
	background:#efefef

}
td{
	padding: 20px 10px 20px 10px;
	
}
millieux{
	margin: 10px 50px 20px;
}