html{
	scroll-behavior:smooth;
	
}
span{
	margin-right:auto;
	margin-left:auto;

}
h1{
	color:#f7d6b5;
	display:flex;
	text-decoration : underline;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
	width:50%:;	

}
#moi{
	width:10%; 
	height:10%; 

}
.backgroundcontact {
	background-image: url("../image/contact.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding :0;
	margin:0;
}
.backgroundacceuil {
	background-image: url("../image/accueil.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding :0;
	margin:0;
}
.backgroundpropos {
	background-image: url("../image/imagepropos.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding :0;
	margin:0;
}
.menu{
	list-style-type:none;
	display:block;
	width:80%;
	margin:auto;
	font-size:1.5vw;
	font-family:"Georgia";
	font-family:"Georgia";	
	position: sticky;
	background-color: #8a9299;
	padding:15px;

}
.menu li{
	padding: 25px;
	display:inline;
}
.menu a{
	text-decoration : none;
	color:#f7d6b5;
}
body{
	background-color:#5d697c;
	padding :0;
	margin:0;		
}
#bouton{
	position: fixed;
	width: 35px;
	height: 25px;
	bottom: 50px;
	right: 30px;
	display:block;
}
.domaine{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#3a4657;

	
}
.titre{
	color:#f7d6b5;
	display:flex;
	text-decoration : underline;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
	width:50%:;
	
}

p{
	color:#f7d6b5;
	display:block;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
	
}
#acceuil{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#propos{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;

}
#competence{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#experience{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#formation{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}
#contact{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:170px;
	margin-left:70px;
	margin-bottom:10px;
}

#contacter{
	color:#f7d6b5;
	display:block;
	margin-top:20px;
	margin-right:1300px;
	margin-left:70px;
	margin-bottom:10px; 
	background-color:#3a4657;
}

#cv{
	width: 100px;
	height: 100px;
}






:root {
  --css:#3a4657;
  --html: #e17055;
  --python: #359717;
  --php: #0d0ba7;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.container {
  max-width: 720px;
  margin: 0px auto;
  width: 100%;
}

.text-center { text-align:center; }

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  width: 100%;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.progressbar[title="css"] {
   background-color: var(--css);
}

.progressbar[title="php"] {
   background-color: var(--php);
}

.progressbar[title="Pyhton"] {
   background-color: var(--python);
}

.progressbar[title="html"] {
   background-color: var(--html);
}
  
