body{
	font-weight:100;
	color:black;
	font-family:sans-serif;
	background-color:silver;
	
	
	
}
h1	{
	
	color:rgb(214,72,80);
	font-family:sans-serif;
	text-decoration: underline;
	
}
h2	{
	color: rgb(15,37,151);
	text-decoration: underline;
	text-decoration-color:cyan;
	
	
	
}
#monsite{
	
	color:green;
	text-decoration: underline;
	text-decoration-color:darkgreen;
	
	
	
	
}
/* margin: 50px 10px 350px 100px */
/* margin: topbottom leftRight */
/* display: block; */
/* width:200px; */
/* padding (c'est la deifference de taille entre le margin et l'element*/